@page "/"

<div style="display:block; width:60%; margin: 0 auto">
    <br/><br/><br/><br/>
    <h1 style="font-size: 70px; color:darkblue">Inventory Control System</h1>
    <br/>
    <div style="width:700px; font-size: 30px; margin-left: 40px; color:blue">
        
        <br />Monitor and Control Inventories of the <b>Company</b>.  
        
    </div>
   
    <br/><br/><br/><br/><br/><br/>
</div>